---
import { Heading, Link } from 'accessible-astro-components'
import { Icon } from 'astro-icon/components'

/**
 * CallToAction Component
 *
 * @description A prominent call-to-action section with a title and link
 */
interface Props {
  /**
   * The title text to display
   * @default "Contact me"
   */
  title?: string
  /**
   * The URL the button should link to
   * @default "@assets/pdf/chaoscosmos-portfolio-Q1.2026.pdf"
   */
  subtitle?: string
  /**
   * The URL the button should link to
   * @default "@assets/pdf/chaoscosmos-portfolio-Q1.2026.pdf"
   */
  link?: string
  /**
   * The text to display on the button
   * @default "Get Started"
   */
  linkText?: string
}

const {
  title = 'Łatwiej mieć wszystko pod ręką. ',
  subtitle = 'Pobierz moje portfolio w formacie PDF.',
  link = '../assets/pdf/chaoscosmos-portfolio-Q1.2026.pdf',
  linkText = 'Pobierz PDF',
} = Astro.props
---

<div class="container" id="contact">
  <div class="download-pdf my-12 flex flex-col md:flex-row flex-wrap gap-4 items-center md:justify-between rounded-xl p-12 bg-[var(--card-background-color)]">
    <div class="md:w-1/2"><h2 class="text-2xl text-center md:text-left">{title}</h2>
    <p class="text-lg text-center md:text-left">{subtitle}</p>
</div>
    <Link href={link} isButton isExternal size="sm" animateOnHover animationType="nudge" class="md:w-1/2">
      {linkText}
    </Link>
  </div>
</div>